{
  "swagger" : "2.0",
  "info" : {
    "description" : "",
    "version" : "1.0.0",
    "title" : "echo"
  },
  "host" : "argte01.1dc.com:50443",
  "basePath" : "/echo",
  "schemes" : [ "https", "http" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/" : {
      "post" : {
        "tags" : [ "echo" ],
        "operationId" : "postEduFilea",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "postEduFilea_request",
          "description" : "request body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/postEduFilea_request"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/postEduFilea_response_200"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "postEduFilea_request" : {
      "type" : "object",
      "properties" : {
        "payLoad" : {
          "type" : "object",
          "properties" : {
            "empNumb" : {
              "type" : "string",
              "maxLength" : 6
            }
          }
        }
      }
    },
    "postEduFilea_response_200" : {
      "type" : "object",
      "properties" : {
        "payLoad" : {
          "type" : "object",
          "properties" : {
            "empNumb" : {
              "type" : "string",
              "maxLength" : 6
            },
            "name" : {
              "type" : "string",
              "maxLength" : 20
            },
            "address" : {
              "type" : "string",
              "maxLength" : 20
            },
            "time" : {
              "type" : "string",
              "maxLength" : 8
            }
          }
        }
      }
    }
  }
}